<button [routerLink]="['']">Home</button>

<div *ngIf="restaurant; else noRestaurant">
  <app-restaurants-form (emitRestaurant)="updateRestaurant($event)" [restaurant]="restaurant"></app-restaurants-form>

  <img style="margin-right: 10px; height: 120px" *ngIf="imageUrl" [src]="imageUrl" alt="{{restaurant.id}}"/>
  <ul>
    <li>
      {{restaurant.nom}}
    </li>
    <li>
      {{restaurant.adresse}}
    </li>
    <li>
      <span>Note moyenne : {{restaurant.evaluations.length > 0 ? restaurant.moyenne_evaluation : '/' }}</span>
    </li>

  </ul>
</div>
<p>Evaluations : </p>

<div *ngFor="let evaluation of restaurant?.evaluations">
  <app-evaluation-detail [evaluation]="evaluation" ></app-evaluation-detail>
</div>

<input type="file" (change)="onChange($event)" #input />

<div *ngIf="file">
  <button (click)="onUpload(input)">Upload the file</button>
</div>

<ng-template #noRestaurant>
  <span>
  Pas de restaurant avec cet id
  </span>
</ng-template>

